@import "tailwindcss";

:root {
  /* background: linear-gradient(15deg,rgba(15, 255, 107, 0.8) 0%, rgba(255, 255, 255, 1) 60%); */
  /* background-attachment: fixed; */
  /* overflow: hidden; */
  --colorAccent: #007bff;
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}

#Wrapper{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* 50% czarne przyciemnienie */
          url("/placeholderImage.png") center/cover no-repeat;   /* obrazek w tle */
  background-color: #000;
  background-size: cover;
  background-position: center;
  padding: 36px 16px;
  height: calc(100vh - (var(--spacing) * 20));
}

#wyniki {
  height: 98vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
  max-width: 800px;
  height: fit-content;
  background-color: #fff;
}


.gradient-universal {
  background: linear-gradient(
    to bottom,
    rgba(0, 200, 83, 0.8) 5%,
    rgba(0, 200, 83, 0) 95%
  );
  fill: url(#colorSum) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-universal svg {
  overflow: visible;
}


